<footer class="footer">
	<div class="container">
		<!-- <div>@@socials.fb</div>
		<div>@@socials.tw</div>
		I am a footer -->
		<div class="footer__top">
			<div class="footer__top-info">
				<img width="184" height="" class="footer__top-logo" src="img/footer-logo.svg" alt="">
				<p class="footer__top-text">
					E-Star Trading GmbH
					Al­bert-Nest­ler-Stra­ße 17
					D-76131 Karls­ru­he
				</p>
			</div>
			<div class="footer__top-menu top-menu">
				<ul class="top-menu__list">
					<li class="top-menu__item">
						<a class="top-menu__link" href="#">contact</a>
					</li>
					<li class="top-menu__item">
						<a class="top-menu__link" href="#">imprint</a>
					</li>
					<li class="top-menu__item">
						<a class="top-menu__link" href="#">privacy</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="container">
				<div class="footer__bottom-menu bottom-menu">
					<ul class="bottom-menu__list">
						<li class="bottom-menu__item">
							<a class="bottom-menu__link" href="#">About us</a>
						</li>
						<li class="bottom-menu__item">
							<a class="bottom-menu__link" href="#">Career</a>
						</li>
						<li class="bottom-menu__item">
							<a class="bottom-menu__link" href="#">Contact</a>
						</li>
					</ul>
					<ul class="bottom-menu__social-list">
						<li class="bottom-menu__social-item">
							<a class="bottom-menu__social-link" href="#">
								<img width="32" height="32" src="img/linkedin-logo.svg" alt="">
							</a>
						</li>
						<li class="bottom-menu__social-item">
							<a class="bottom-menu__social-link" href="#">
								<img width="32" height="32" src="img/XING-Logo.svg" alt="">
							</a>
						</li>
					</ul>
				</div>
				<p class="footer__bottom-copy">
					© e*star. All rights reserved.
				</p>
			</div>
		</div>
	</div>
</footer>
