<header class="header">
	<!-- <div class="container"> -->
	<div class="inner-wrapper">
		<nav class="navbar navbar-expand-lg mb-4">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="img/estar_logo_rgb.svg" width="94" height="94" alt="logo">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
						<ul class="navbar-nav__socials">
							<li class="nav-item">
								<a class="nav-link active" aria-current="page" href="#">
									<img width="32" height="32" src="img/linkedin-logo.png" alt="">
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<img width="32" height="32" src="img/XING-Logo.png" alt="">
								</a>
							</li>
						</ul>
						<li class="nav-item">
							<a class="nav-link" href="#">Our services</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Product</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">About us</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Career</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Insights</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contact</a>
						</li>
						<li class="nav-item demo-item">
							<a class="nav-link demo-link" href="#">
								<i class="arrow">&gt;&gt;</i>
								Demo
							</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<!-- </div> -->
</header>
